{% extends 'siteadmin/base.html' %}
{% block content_header %}
<!-- /.content-header -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Registered Domain Names</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
<ul class="list-group">
  {% if domains %}
    {% for domain in domains %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{domain.name}} <span class="badge badge-danger">{{domain.expiry_date}}</span> {% include 'siteadmin/inc/status.html' %}
        <a name="" id="" class="btn btn-primary" href="{% url 'manage' domain.pk %}" role="button">Manage</a>
      </li>
    {% endfor %}
  {% else %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
     You dont have any registered domain names
  </li>
  {% endif %}
</ul>
{% endblock %}
