<!-- templates/about.html -->
{% extends '_base.html' %}
{% load static%}
{% block title %}About Zimbabwe Domain name Registration{% endblock title %}
{% block content %}
<div style="margin-top:6%; width: 70%" class="container">
<h1>About Page</h1><hr>
<p>Zimbabwe domain name registry is a domain name registration company in Zimbabwe. We offer discounted-cheap domain names for developers and resellers.
   Being a young company, we made our system as reliable as possible.
   Domain registration in Zimbabwe has been that easy, and managin the domain is always hard and so we developed a system that allows you to manage your .co.zw domain names without the technology inconvinience.
 </p>
 <p>
   We're team of young programmers and developers. Since domain name management for .co.zw was boring, we decided to develop a system that takes that pain from other web developers and programmers.

 </p>
<p>We're a part of <a target="_blank" href="https://zimhero.com">Zimhero web hosting</a>, which offers shared hosting, virtual private servers and business email hosting in Zimbabwe.</p>
<img src="{% static 'images/company.jpg' %}" width="600" >
</div>
{% endblock content %}
