<!-- templates/signup.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
    <div style="margin-top:6%" class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-lg-8">
            <h1>Send a message</h1>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        {{ form.from_email|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-6">
                        {{ form.subject|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-6">
                        {{ form.message|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Send a message</button>
            </form>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4">
            <h2>Contact details</h2>
            <b>Email:</b> support@zimhero.net<br>
            <b>Whatapp:</b> <a href="https://wa.me/263783778360">+263 78 377 8360</a><br>
            <b>Addres: </b> 10 29th Cresent
Warren Park Harare
          </div>
        </div>
    </div>
{% endblock content %}
