{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Domain name details{% endblock title %}
{% block content %}
    <div style="margin-top: 40px" class="container">
      <h2>Please provide the domain name owner details</h2>
      <hr>
      <br>
      <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.phone|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.business|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.org_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.nameserver1|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.nameserver2|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.nameserver3|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.nameserver4|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.nameserver5|as_crispy_field }}
        </div>
      </div>
      {{ form.address|as_crispy_field }}
      <button class="btn btn-success" type="submit">Paynow</button>
      </form>
    </div>
{% endblock content %}
