<!-- templates/_base.html -->
<!DOCTYPE html>
<html lang="en-GB">
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       {% load static %}
       
       <meta name="viewport" content="width=device-width,initial-scale=1">
       {% block meta %}
      <meta name="description" content="Domain name registration in Zimbawe. We register local .co.zw and international website name reselling at a cheap price starting at ZWL50.00.">
      <meta name="keywords" content="domain registration in Zimbabwe, domain names, .com, website names, domain harare, .co.zw, zimhero, clouditate, web design, shared hosting, web names, websites, domain name seller Zimbabawe">
      <link rel="shortlink" href="zimbabwedomainregistration.com">
      {% endblock meta %}
      <meta name="twitter:description" content="Cheap domain name registration in Zimbabwe. ">
      <meta name="twitter:title" content="Help you buy cheap domain names in Zimbabwe!">
      <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_GB">
      <meta property="og:url" content="https://zimbabwedomainregistration.com/">
      <meta property="og:site_name" content="Zimbabwe domain name registration">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@clouditate">
      <meta name="twitter:creator" content="@clouditate">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="EEKrU63lWHgi6WRQpRDaY7AGxgEN8f-l26w0Bfy_B8A" />
      <meta name="msvalidate.01" content="177536D4A8D31FA1AB104371F4FA7A65" />
      <meta property="og:image" content="{% static 'images/logo-white.png' %}">
      <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
      
      <!-- CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <title>
        {% block title %}
            Zimbabwe Domain Name Registration - Buy domain name from just $10
        {% endblock title %}
      </title>
      {% block custom_css %}
      {% endblock custom_css %}
    </head>
    <body>
        {% include 'inc/header.html' %}
        <div class="container-fluid content h-100">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'inc/footer.html' %}
    </body>
</html>
