<!-- templates/_base.html -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="Zimbabwe domain registry is a Zimbabwean company that offers domain registration. We register local .co.zw and international domain names at a cheap price. Zimbabwe domain registration is part of Zimhero web solutions.">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="EEKrU63lWHgi6WRQpRDaY7AGxgEN8f-l26w0Bfy_B8A" />
      <meta name="msvalidate.01" content="177536D4A8D31FA1AB104371F4FA7A65" />
      <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
      <!-- CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <title>
        {% block title %}
            Zimbabwe Domain Name Registration - Buy domain name from just $10
        {% endblock title %}
      </title>
      {% block custom_css %}
      {% endblock custom_css %}
    </head>
    <body>
        {% include 'inc/header.html' %}
        <div class="container-fluid content h-100">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'inc/footer.html' %}
    </body>
</html>
