<section class="pb-5 pt-5" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Our Value</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Our core values. Why you should register your domain with us.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'account_login' %}" class="services-small-item active">
                        <div class="icon">
                            <i class="far fa-check-square"></i>
                        </div>
                        <h5 class="services-title">Domain management</h5>
                        <p>If you register your domain with us, you''ll manage your nameserver very easily. </p>
                        <div class="button">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                    <div class="item-bg"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'account_login' %}" class="services-small-item">
                        <div class="icon">
                            <i class="fas fa-headset"></i>
                        </div>
                        <h5 class="services-title">Customer service</h5>
                        <p>Our customer service team is always there to help you 24/7. Visit us or sent email.</p>
                        <div class="button">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                    <div class="item-bg"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'account_login' %}" class="services-small-item">
                        <div class="icon">
                            <i class="far fa-credit-card"></i>
                        </div>
                        <h5 class="services-title">Cheap / Affordable</h5>
                        <p>Our domain registration are very cheap and affordable as compared to other providers. </p>
                        <div class="button">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                    <div class="item-bg"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'account_login' %}" class="services-small-item">
                        <div class="icon">
                            <i class="fas fa-donate"></i>
                        </div>
                        <h5 class="services-title">Free domain credits</h5>
                        <p>If you register your domain names with us it's you'll win credits for other domain names. </p>
                        <div class="button">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                    <div class="item-bg"></div>
                </div>
            </div>
        </div>
    </section>
