<ul class="list-group list-group-flush">
<li class="list-group-item">
    <strong>What is a domain name?</strong>
    <p>A domain name is the name of your website. It's basically an identity given to your web urls. Technically a domain name is an IP address that points to ther servers where your website or email accounts are hosted</p>
</li>
<li class="list-group-item">
    <strong>How much to buy a domain in Zimbabwe?</strong>
    <p>RTGS$50 for local domain i.e .co.zw, .ac.zw and .org.zw, we charge US$15 for international domains i.e .com, .org, .net and many other international TLDs </p>
</li>
<li class="list-group-item">
    <strong>Buying and selling domains in Zimbabwe?</strong>
    <p>Zimbabwe domain name registry is a platform for developers and they can buy as many domain names as they want and resell them at nay price</p>
</li>
<li class="list-group-item">
    <strong>How to choose a domain name</strong>
    <p>A good domain name is easy to remember, easy to type, uses keywords, does not include deep vocabulary and lingo. You can also use locations if your business is limited to a certain area. </p>
</li>
</ul>
