{% load static %}
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {% now 'Y' %}. <a href="https://zimhero.com/">Zimhero Private Limited Company.</a> & <a href="https://www.theophilusn.com">Theophilus Ngaribvume</a>.
</footer>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{% static 'admin/plugins/popper/popper.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
feather.replace()
</script>
