{% load static %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <meta name="description" content="Zimbabwe domain registry is a Zimbabwean company that offers domain registration. We register local .co.zw and international domain names at a cheap price. Zimbabwe domain registration is part of Zimhero web solutions.">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>
   {% block title %}
       Zimbabwe Domain Name Registration - Buy domain name from just $10
   {% endblock title %}
   </title>
   {% block meta %}
   <meta name="description" content={{meta.meta_description}}>
   <meta name="Copyright" content="{{meta.s_copyright}}">
   <meta name="keywords" content="{{meta.keywords}}">
   {% endblock meta %}
   <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
   <!-- CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   {% block custom_css %}
   {% endblock custom_css %}
</head>
