{% load static %}
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>
   {% block title %}
       {{meta.title}}
   {% endblock title %}
   </title>
   {% block meta %}
   <meta name="description" content={{meta.meta_description}}>
   <meta name="Copyright" content="{{meta.s_copyright}}">
   <meta name="keywords" content="{{meta.keywords}}">
   {% endblock meta %}
   <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
   <!-- CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   {% block custom_css %}
   {% endblock custom_css %}
</head>
