{% extends '_base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="Whois domain lookup tool. Domain names in Zimbabwe. Search for the contact details of any domain name using our free lookup tool.">
<meta name="keywords" content="whois domain lookup tool. domain names, .com, web, website names, domain harare, .co.zw, zimhero, clouditate, web design, shared hosting">
<meta name="twitter:description" content="Whois domain lookup tool. Domain names in Zimbabwe. Search for the contact details of any domain name using our free lookup tool">
<meta name="twitter:title" content="Help you buy cheap domain names in Zimbabwe!">
{% endblock meta %}
{% block title %}Free Whois Lookup Tool - Search for your Domain Information{% endblock title %}
{% block content %}
<div class="hero jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h1 class="display-5 text-white text-center">Free SiteSpeed Insights</h1>
            <p style="" class="text-white text-center">Strive to make your website fast as possible. Speed matters.</p>
            <form center class="whois-form" method="POST" action="{% url 'sitespeed' %}" autocomplete="off">
              {% csrf_token %}
                  <div class="form-row">
                      <div class="form-group col-md-8 d-flex justify-content-center">
                          <input type="url" class="form-control" id="domain" name="domain" value="{{d_name}}" placeholder="https://example.com " required="true">
                      </div>
                      <div class="form-group col-md-4">
                          <button type="submit" class="btn btn-primary">Analyse website Speed</button>
                      </div>
                  </div>
              </form>

        </div>
    </div>
  </div>
</div>
{% if response  %}
    <div class="container whois-res">
      <h2 class="text-class">Site Speed Analysis</h2>
      {{response}}
    </div>
{% endif %}
<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <strong>Domain whois lookup</strong>
        <p>Our whois tool will give you all the details about a certain domain name. It provides you with the domain owner, when was it registered, when it expires, last updated date, who registered it, nameserver and many more information about the domain registrar.</p>
    </li>
    <li class="list-group-item">
        <strong>Domain names for sale</strong>
        <p>If you want a domain name that is already registered with us, send us an email <a href="{% url 'contact' %}">on our contact page</a> and we'll see if the domain owner is willing to sell the domain to you.</p>
    </li>
    <li class="list-group-item">
        <strong>Domain name prices in Zimbabwe</strong>
        <p>Buy a local .co.zw domain name for ZWL50 per year with Zimbabwe domain registration. For international domain name we charge ZWL$650 only. Search your domain on <a href="{% url 'home' %}">our domain search tool</a> and register it if it's available.</p>
    </li>
  </ul>
</div>
{% endblock %}
